@import '../../variables.scss';

.notification {
  border-radius: 15px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  position: relative;

  .imageWrapper {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      display: block;
      border-radius: 50%;
      padding: 0.7rem;
      height: 3rem;
    }
  }

  .messageWrapper {
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .time {
      color: #7f89a0;
    }
  }

  .readIndicator {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    background-color: $mainColor;
  }

  .hidden {
    display: none;
  }
}

.read {
  background-color: white;
}

.unread {
  background-color: $gray;
}
