@import '../../variables.scss';

.navbar {
  height: 5rem;
  background-color: $defaultBackground;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .bellWrapper {
    width: 3rem;
    position: relative;
    margin: 1rem;
    color: white;
    z-index: 1;
    cursor: pointer;

    span {
      background-color: red;
      border-radius: 50%;
      border: 3px solid $defaultBackground;

      color: white;

      width: 1.4rem;
      height: 1.4rem;

      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      right: 25%;
      top: -25%;
      transform: translate(50%, 50%);
    }
  }
}

.modalWrapper {
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
