@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

$defaultBackground: rgb(40, 40, 40);
$mainColor: #1b79ff;
$gray: #f3f3f7;

$md-screen: 650px;
$lg-screen: 1300px;
